@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* Hero section */
.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin: 10px 0 0;
}

/* Main content */
main {
  padding: 20px;
}

/* About section */
.about {
  margin: 40px 0;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Charts section */
.chartsSection {
  margin: 40px 0;
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.chartContainer {
  flex: 1;
  min-width: 300px;
  max-width: 32%;
  max-height: 300px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.chartContainerPie {
  flex: 1;
  min-width: 300px;
  max-width: 32%;
  max-height: 350px;
  padding-bottom: 100px;
  margin-top: 20px;
}

.chartContainerPie h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.chartContainer h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Image of the day section */
.imageOfTheDaySection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.newsAndImage {
  display: flex;
  width: 100%;
}

.newsSection {
  flex: 1;
  margin-right: 20px;
}

.newsSection h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.newsCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsCard {
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.newsCard h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Image container */
.imageContainer {
  margin-left: 20px;
  flex: 2;
  position: relative;
}

.dailyImage {
  width: 100%;
  max-width: 100%;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

.infoCard {
  position: absolute;
  bottom: 10px;
  right: -100px;
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: left;
}

.infoCard h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.infoCard p {
  font-size: 1em;
  margin-bottom: 10px;
}

.infoCard a {
  color: #1e90ff;
  text-decoration: none;
}

.infoCard a:hover {
  text-decoration: underline;
}

/* More stories section */
.moreStories {
  margin-bottom: 40px;
}

.moreStories h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.storiesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.storyCard {
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
}

.storyCard h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Fun facts section */
.funFactsContainer {
  background-color: #111111;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.funFactsContainer h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.1em;
  margin: 10px 0;
}

/* Calendar events section */
.calendarEventsContainer {
  background-color: #111111;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.calendarEventsContainer h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Footer styles */
.footer {
  background-color: #111111;
  color: #cccccc;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333333;
}

.footer a {
  color: #cccccc;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
