/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    }
  
  /* Hero section */
  .hero {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.5em;
    margin: 10px 0 0;
  }
  
  /* Main content */
  main {
    padding: 20px;
    width: 100%;
  }
  
  /* Timeline content section */
  .timeline-content {
    margin: 40px 0;
    width: 100%;
  }
  
  .timeline-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .body-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .body-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .chart-container {
    margin: 40px 0;
    width: 100%; /* Ensure the chart container spans the full width */
  }
  
  .chart-wrapper {
    height: 80vh; /* Ensure the chart has sufficient height */
    width: 100%; /* Ensure the chart spans the full width */
  }
  
  .chart-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  /* Footer styles */
  .footer {
    background-color: #111111;
    color: #cccccc;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333333;
  }
  
  .footer a {
    color: #cccccc;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  